:root,
* {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
}

.container {
  width: auto;
  display: flex;
  flex-direction: column;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.rightSection {
  display: flex;
  flex-direction: column;
}

.topSection label {
  margin-bottom: 0.7rem;
}

textarea {
  width: 400px;
  height: 342px;
}

input {
  width: 250px;
  height: 2.5rem;
  margin-bottom: 2rem;
}

input,
textarea {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid var(--gray) !important;
}

input:last-child {
  margin-bottom: 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--lightgray);
  padding: 5px;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.topSection {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 3rem;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-top: 1.5rem;
}

.bottomSection button {
  width: 160px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Epilogue", sans-serif;
  letter-spacing: 0.5rem;
  padding-left: 0.8rem;

  background-color: var(--blue);

  color: var(--white);

  cursor: pointer;
}

.bottomSection button:hover {
  background-color: var(--pink);
  transition: 0.3s;
}

@media (max-width: 971px) {
  textarea {
    width: 340px;
  }
}

@media (max-width: 450px) {
  .topSection {
    flex-direction: column;
  }

  input,
  textarea {
    width: 300px;
  }

  .bottomSection {
    align-items: center;
    margin-top: 1.5rem;
  }
}
