.container {
  max-width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;

  align-content: center;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 200px;

  background-color: var(--darkgray);
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.rightSection {
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
  flex-direction: row;

  border: 1px solid red;
}
