.container {
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  gap: 3rem;

  padding: 3rem 0;
}

.mainBox {
  width: 80vw;
  height: auto;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding: 3rem 0;
}

.rightSection {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkedin {
  width: 190px;
  height: 60px;
  background-color: #0a66c2;
  background-image: url("../../assets/icons/linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.github {
  width: 190px;
  height: 60px;
  background-color: blueviolet;
  background-image: url("../../assets/icons/github.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.linkedin:hover {
  background-color: #3088e0;
  border-radius: 20px;
  transition: 0.5s;
}

.github:hover {
  background-color: rgb(167, 79, 250);
  border-radius: 20px;
  transition: 0.5s;
}

.buttons {
  margin-top: 1.5rem;
  width: 405px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bvLogoOutlines {
  width: 405px;
  height: 340px;
  background-image: url("../../assets/imgs/OutlinesBrand.png");
  background-size: auto;
  background-repeat: no-repeat;

  margin-top: 80px;
}

@media (max-width: 1440px) {
  .container {
    padding: 2rem 0;
  }

  .mainBox {
    width: 90vw;
  }
}

@media (max-width: 1370px) {
  .container {
    height: auto;
    padding: 2rem 0;
  }

  .mainBox {
    flex-direction: column;
    gap: 3rem;
  }

  .rightSection {
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
    gap: 1rem;
  }

  .buttons {
    margin-top: 0;
    justify-content: center;
    gap: 1rem;
  }

  .linkedin {
    width: 140px;
    height: 45px;
    background-size: 70%;
  }

  .github {
    width: 140px;
    height: 45px;
    background-size: 70%;
  }

  .linkedin:hover {
    border-radius: 15px;
  }

  .github:hover {
    border-radius: 15px;
  }
}

@media (max-width: 1024px) {
  .mainBox {
    width: 964px;
  }
}

@media (max-width: 971px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 3rem 0 4rem 0;
    gap: 3rem;
  }

  .mainBox {
    width: 90vw;
    gap: 7rem;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .mainBox {
    gap: 5rem;
  }
}

@media (max-width: 450px) {
  .container {
    height: auto;
    padding: 2rem 0 3rem 0;
    gap: 2rem;
  }

  .buttons {
    max-width: 300px;
    width: 350px;
    justify-content: space-between;
    gap: 0;
  }
}
