.blue {
  color: var(--blue);
}

.pink {
  color: var(--pink);
}

.container {
  max-width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;

  align-content: center;
  justify-content: space-between;

  padding: 3rem 200px;
}

.box1 {
  display: flex;
  flex-direction: column;

  width: 52%;
  height: auto;

  justify-content: space-between;
}

.title {
  font-family: "DM Serif Display", serif;
  font-size: 3.3rem;
  padding-bottom: 3rem;
}

.summary {
  font-family: "Gowun Batang", serif;
  font-size: 1.2rem;
  font-weight: bold;
  width: 85%;
  max-width: 95%;
  text-align: justify;
  line-height: 2rem;

  padding-bottom: 2rem;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 45%;
}

.photo {
  width: auto;
  height: 770px;
  overflow: hidden;
  border-radius: 30px;
}
