.button {
  width: 200px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4rem;
  padding-left: 0.3rem;

  cursor: pointer;
}

.button {
  border: 2.6px solid var(--button-border-color);
  transition: border-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  border-color: var(--button-hover-border-color);
  color: var(--button-hover-text-color);
}

@media (max-width: 971px) {
  .button {
    display: flex;
    flex-direction: column;
  }
}
