.button {
  width: 200px;
  height: 60px;
  border: 2.6px solid var(--white);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Epilogue", sans-serif;
  letter-spacing: 0.4rem;
  padding-left: 0.3rem;

  cursor: pointer;
}

.button:hover {
  border: 2.6px solid var(--pink);
  transition: 0.3s;
}
