.button {
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--lightpurple);

  cursor: pointer;

  position: absolute;
  top: 75%;
  left: 38%;
  right: 0;
  bottom: 0;
}

.button:hover {
  background-color: var(--purple);
}

.githubIcon {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("../../assets/icons/github-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--purple);
}

.text {
  width: 100px;
  padding-left: 0.8rem;

  color: var(--white);
}

@media (min-width: 972px) and (max-width: 1280px) {
  .button {
    position: absolute;
    top: 65%;
    left: 30%;
    right: 0;
    bottom: 0;
  }
}
