.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  width: auto;
}

.ptbr,
.english {
  width: 65px;
  height: 40px;
  cursor: pointer;
}

.unselected {
  filter: grayscale(100%);
}

@media (max-width: 1210px) {
  .ptbr {
    max-width: 45px;
    height: 30px;
    cursor: pointer;
  }

  .english {
    width: 50px;
    height: 30px;
    cursor: pointer;
  }
}
