.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.ptbr {
  width: 50px;
  height: 35px;
  background-image: url("../../assets/icons/brazil-flag.svg");
  background-repeat: no-repeat;
}

.english {
  width: 65px;
  height: 35px;
  background-image: url("../../assets/icons/usa-flag.svg");
  background-repeat: no-repeat;
}

.unselected {
  filter: grayscale(100%);
}
