@media (prefers-color-scheme: dark) {
  .Logotipo {
    background-image: url("../../assets/icons/bv-brand-white-nobg.svg");
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
  }
}

@media (prefers-color-scheme: light) {
  .Logotipo {
    background-image: url("../../assets/icons/bv-brand-black-nobg.svg");
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
  }
}
