.titleBox {
  max-width: 1600px;
  width: 80vw;
  height: auto;
}

.title {
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
}

.title {
  color: var(--title-color);
  transition: color 0.3s ease;
}

@media (max-width: 1440px) {
  .titleBox {
    width: 90vw;
  }
}

@media (max-width: 1370px) {
  .titleBox {
    width: auto;
  }

  .title {
    font-size: 3rem;
  }
}

@media (max-width: 971px) {
  .title {
    font-size: 3.5rem;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 2.5rem;
  }
}
